body {
	padding: 0;
	margin: 0;
	color: #FFF;
  background: #101112 url(/images/bg.jpg) 0 0 repeat;
  text-shadow: rgba(0,0,0,.8) 0 -1px 0;
  text-align: center;
  font:16px/24px "Helvetica Neue",HelveticaNeue,Helvetica,arial,sans;
}

a {
  color: #CCC;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

a:hover{
  color:#56b80e;
}

#header {
  border-bottom: 1px solid #000;
  padding: 0;
  color: #AAA;
  background: #101112 url(/images/topmenu.png) 0 0 repeat-x;
  height: 50px;
  width: 100%;
}

#header ul.toplist {
  list-style-type: none;
  display: block;
  padding: 0;
  width: 20em;
  margin: auto;
}

#header ul.toplist li {
  float: left;
  display: list-item;
}

#header ul.toplist li a {
  line-height: 30px;
  display: block;
  text-decoration: none;
  margin: 10px 15px;
  border-bottom: none;
}

#content {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 800px;
}

#footer {
  border-top: 1px solid #000;
  background: url(/images/bg_dark.png) 0 0 repeat;
  
  -moz-box-shadow:inset 0px 0px 5px #000000;
  -webkit-box-shadow:inset 0px 0px 5px #000000;
  box-shadow:inset 0px 0px 5px #000000;
  width: 100%;
}

#footer div.about {
  display: block;
  padding: 0;
  width: 20em;
  margin: auto;
  line-height: 16px;
  height: 30px;
  padding-top: 15px;
}



.amplit {
  background: url(/images/works/android/shakemute/amplitude.png) 10px 350px repeat-x;
  width: 100%;
}

.work_maket {
  width: 500px;
  text-align: left;
  margin: 0 auto;
  padding-left: 480px;
  position: relative;
  margin-top: 50px;
}

.work_maket h1 {
  margin-bottom: 9px;
}

.work_maket .main_img {
  width: 440px;
  height: 627px;
  top: -40px;
  left: 0;
  position: absolute;
  padding-top: 73px;
  padding-left: 15px;
  background: url(/images/works/android/shakemute/phones.png) 0 0 no-repeat;
}

.work_maket .description {
  margin: 20px 0;
  font-size: 1.2em;
}

.work_maket .download{
  width: 100%;
  display: block;
}

.work_maket .download .left{
  float: left;
}

.work_maket .download .left #dl {
  display: block;
  background: url(/images/works/android/shakemute/market_btn_sprite.png) 0 0 no-repeat;
  width: 245px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, .4) 0 1px 1px;
  text-decoration: none;
  line-height: 16px;
  padding:0;
  min-height: 85px;
  border: 0;
}

.work_maket .download .left #dl:hover {
  background: url(/images/works/android/shakemute/market_btn_sprite.png) 0 -90px no-repeat;
}

.work_maket .download .left .market_free{
  margin: 10px 0;
  line-height: 18px;
  background: #2B2B2B;
  border-bottom: 1px solid #585D58;
  border-top: 1px solid #585D58;
  border-right: 1px solid #585D58;
  -moz-border-radius:0px 10px 10px 0px;
  -webkit-border-radius:0px 10px 10px 0px;
  border-radius:0px 10px 10px 0px;
  padding: 18px;
  font-size: 1.3em;
  text-transform: uppercase;
}

.work_maket .download .left .market_free a{
  text-decoration: none;
  border: 0;
}

.work_maket .barcode{
  margin-top: 10px;
  padding: 10px;
  background: #2B2B2B;
  display: block;
  width: 200px;
  height: 200px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border: 1px solid #585D58;
}

.work_maket_box_footer{
  background: url(/images/bg_dark.png) 0 0 repeat;
  min-height: 200px;
  border-top: 1px solid #000;
  margin-top: 100px;
}

.work_maket_footer{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: url(/images/bg_dark.png) 0 0 repeat;
}

.work_maket_footer .features{
  float: left;
  width: 43%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  border-right: 1px solid #585D58;
}

.work_maket_footer h1 {
  font-size: 1.6em;
  margin-bottom: 5px;
}

.work_maket_footer .features ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.work_maket_footer .features ul li {
  background: url(/images/bullet.png) 0 2px no-repeat;
  padding-left: 25px;
}

.work_maket_footer .media{
  float: left;
  width: 44%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.work_maket_footer .media ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.work_maket_footer .media ul li{
  margin: 10px;
  padding: 10px;
  background: #2B2B2B;
  display: block;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border: 5px solid #585D58;
  float: left;
  height: 100px;
}

.work_maket_footer .media a{
  text-decoration: none;
  border: 0;
  padding: 0;
  margin: 0;
}
