.clearfix:before,
.clearfix:after,
.cf:before,
.cf:after,
.hasGrid:before,
.hasGrid:after,
.unit-inner:before,
.unit-inner:after,
.tag_box:before,
.tag_box:after,
#page:before,
#page:after
  content: ""
  display: table

.clearfix:after,
.cf:after,
.hasGrid:after,
.unit-inner:after,
.tag_box:after,
#page:after
  clear: both

.left
  float: left

.right
  float: right
