@import "@picocss/pico";

div.aligncenter {
  margin: 0 auto;
  text-align: center;
}

img.aligncenter {
  display: block;
  margin: 20px auto;
}

pre.mermaid {
  margin: 20px auto;
  text-align: center;
  background-color: var(--pico-background-color);
}
