---
import { getCollection } from "astro:content";
import Base from "@layouts/Base.astro";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import { tagToSlug, getUniqueTags } from "@utils/tags";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = getUniqueTags(posts);
  return tags.map((tag) => ({
    params: { id: tagToSlug(tag) },
    props: {
      tag,
      //post sorting, date
      posts: posts
        .filter((post) => post.data.tags?.includes(tag))
        .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()),
    },
  }));
}
const { tag, posts } = Astro.props;
type Post = CollectionEntry<"blog">;
---

<Base
  title={("Posts tagged with " + tag) as string}
  description={(("Posts tagged with " + tag) as string) + "."}
>
  <h2>Posts tagged with <span> {tag}</span>:</h2>
  <ul>
    {
      posts.map((post: Post) => (
        <li>
          <span>
            <FormattedDate date={post.data.pubDate} />
          </span>
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Base>
