---
import { getCollection } from "astro:content";
import Base from "@layouts/Base.astro";
import TagLink from "@components/TagLink.astro";
import { getUniqueTags } from "@utils/tags";

const posts = await getCollection("blog");
//case-insensitive tag sorting
const tags = getUniqueTags(posts).sort((a, b) =>
  a.localeCompare(b, undefined, { sensitivity: "base" }),
);
---

<Base title="List of blog tags">
  <h1>Post tags</h1>
  <ul>
    {
      tags.map((tag) => (
        <li>
          <TagLink tag={tag} />
        </li>
      ))
    }
  </ul>
</Base>
