---
import { getPosts } from "@utils/posts";
import Base from "@layouts/Base.astro";
import TagLink from "@components/TagLink.astro";
import { getUniqueTags } from "@utils/tags";

const posts = await getPosts();
//case-insensitive tag sorting
const tags = getUniqueTags(posts).sort((a, b) =>
  a.localeCompare(b, undefined, { sensitivity: "base" }),
);
---

<Base title="List of blog tags">
  <article>
    <h1>Post tags</h1>
    <ul class="colums">
      {
        tags.map((tag) => (
          <li>
            <TagLink tag={tag} />
          </li>
        ))
      }
    </ul>
  </article>
</Base>

<style>
  .colums {
    margin: 0.5rem;
    columns: 10rem auto;
  }
</style>
