---
import Base from "@layouts/Base.astro";
---

<Base title="About" description="A little bit about myself">
  <article>
    <header>
      <h1>About me</h1>
    </header>
    <p>
      My name Oleksii Vasyliev. I am a Software Architect, Full-Stack Engineer
      and Podcaster.
    </p>
    <ul>
      <li>
        <a
          href="http://github.com/le0pard/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Github - le0pard
        </a>
      </li>
      <li>
        <a
          href="https://x.com/leopard_me/"
          target="_blank"
          rel="noopener noreferrer"
        >
          X.com - leopard_me
        </a>
      </li>
      <li>
        <a
          href="https://www.rwpod.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          RWpod - Ukrainian podcast about Ruby and Web
        </a>
      </li>
    </ul>
  </article>
</Base>
