---
import Base from "@layouts/Base.astro";
---

<Base title="About" , description="A little bit about myself">
  <article>
    <header><h1>About me</h1></header>
    <p>Hi, I'm smallworld! I'm an Astro template.</p>
  </article>
</Base>
