---
import NavLink from "./NavLink.astro";
---

<header>
  <nav aria-label="Main">
    <ul>
      <li>
        <a href="/">
          <strong>Home</strong>
        </a>
      </li>
    </ul>
    <ul>
      <li><NavLink path="/rss.xml">RSS</NavLink></li>
      <li><NavLink path="/tags">Tags</NavLink></li>
      <li><NavLink path="/about">About</NavLink></li>
    </ul>
  </nav>
</header>
