---
import NavLink from "./NavLink.astro";
---

<header>
  <nav aria-label="Main">
    <ul>
      <li>
        <a href="/">
          <strong>Home</strong>
        </a>
      </li>
    </ul>
    <ul>
      <li><a href="https://github.com/le0pard">GitHub</a></li>
      <li><NavLink path="about">About</NavLink></li>
    </ul>
  </nav>
</header>
