---
import NavLink from "./NavLink.astro";
---

<footer>
  <nav>
    <ul>
      <li><NavLink path="/rss.xml">RSS</NavLink></li>
      <li><NavLink path="/tags">Tags</NavLink></li>
      <li><NavLink path="/about">About</NavLink></li>
      <li>
        <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
          <img
            alt="Creative Commons License"
            src="https://licensebuttons.net/l/by/4.0/88x31.png"
            width="88"
            height="31"
          />
        </a>
      </li>
    </ul>
  </nav>
</footer>

<style>
  footer {
    position: sticky;
    top: 100vh;
  }
</style>
