<footer>
  <nav>
    <ul>
      <li><a href="https://github.com/le0pard">GitHub</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</footer>

<style>
  footer {
    position: sticky;
    top: 100vh;
  }
</style>
