<div class="giscus">
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="le0pard/le0pard.github.io-comments"
    data-repo-id="R_kgDOSfcmhg"
    data-category="General"
    data-category-id="DIC_kwDOSfcmhs4C9MzI"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</div>
