---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const maxPostsToDisplay = 3;
const recentPosts = posts.slice(0, maxPostsToDisplay);
---

<section>
  <h3>Recent posts</h3>
  <div class="grid">
    {
      recentPosts.map((post) => (
        <article>
          <hgroup>
            <h3>
              <a href={`/blog/${post.id}`}>{post.data.title}</a>
            </h3>
            <p>
              <FormattedDate date={post.data.pubDate} />
            </p>
          </hgroup>
          <p>{post.data.description}</p>
        </article>
      ))
    }
  </div>
</section>
