---
import TagLink from "@components/TagLink.astro";

type Props = {
  tags: string[];
};

const { tags } = Astro.props;
---

<nav aria-label="Tags">
  <ul>
    {
      tags.map((tag) => (
        <li>
          <TagLink tag={tag} />
        </li>
      ))
    }
  </ul>
</nav>
