<!DOCTYPE html>
<html amp lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
  <meta name="google-site-verification" content="{{ site.webtools.google_tracking_id }}" />
  <meta name="author" content="{{ site.author.name }}">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml" />

  <script type="application/ld+json">
    {% include site/metadata.json %}
  </script>

  {% capture include_to_scssify %}{% include sass/styles.scss %}{% endcapture %}
  <style amp-custom>{{ include_to_scssify | scssify }}</style>

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  {% if page.layout == 'post' %}
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
  {% endif %}
</head>
<body>

<div id="page">
	<header class="the-header">
		<div class="unit-head">
			<div class="unit-inner unit-head-inner">
				<nav class="nav-global">
					<ul>
						<li class="logo"><a href="/">{{ site.title }}</a></li>
						<li class="archive"><a href="{{ site.archive_path }}">archive</a></li>
						<li class="page"><a href="{{ site.pages_path }}">pages</a></li>
						<li class="category"><a href="{{ site.categories_path }}">categories</a></li>
						<li class="tag"><a href="{{ site.tags_path }}">tags</a></li>
					</ul>
				</nav>
			</div><!-- unit-inner -->
		</div><!-- unit-head -->
	</header>
	<div class="body" role="main">
		<div class="unit-body">
			<div class="unit-inner unit-body-inner">
				<div class="entry-content">
					{{ content }}
				</div>
			</div><!-- unit-inner -->
		</div><!-- unit-body -->
	</div><!-- body -->
	<footer class="the-footer">
		<div class="unit-foot">
			<div class="unit-inner unit-foot-inner">
				<div class="misc vcard">
					<h4>About</h4>
					<ul>
						<li class="contact"><address><span class="author fn n">{{ site.author.name }}</span></address></li>
						<li class="email"><address><span class="fn email">{{ site.author.email }}</span></address></li>
						<li class="github"><a href="http://github.com/{{ site.author.github }}/" rel="me">github.com/{{ site.author.github }}</a></li>
						<li class="twitter"><a href="http://twitter.com/{{ site.author.twitter }}/" rel="me">twitter.com/{{ site.author.twitter }}</a></li>
						<li class="rss"><a href="http://feeds.feedburner.com/{{ site.author.feedburner }}">Subscribe to RSS Feed</a></li>
					</ul>
				</div><!-- misc -->
				<div class="misc">
					<h4>My books</h4>
					<ul>
						<li class="chef">
              <a href="http://chef.leopard.in.ua/" rel="chef">Cooking Infrastructure by Chef (English)</a>
            </li>
            <li class="postgresql">
              <a href="http://postgresql.leopard.in.ua/" rel="postgresql">Working with PostgreSQL: tuning and scaling (Russian)</a>
            </li>
					</ul>
					<h4>My podcasts</h4>
					<ul>
						<li class="rwpod"><a href="http://www.rwpod.com/" rel="rwpod">RWpod (Russian)</a></li>
					</ul>
				</div><!-- misc -->
				<p class="licence">
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><amp-img alt="Creative Commons License" width="80" height="31" src="http://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
				</p>
			</div><!-- unit-foot-inner -->
		</div><!-- unit-foot -->
	</footer>
</div><!-- page -->
{% include site/analytics %}
</body>
</html>
