<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
  <meta name="google-site-verification" content="{{ site.webtools.google_webmasters_id }}" />
  <meta name="author" content="{{ site.author.name }}" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link rel="preload" href="/css/main.css" as="style" />
  <link rel="preload" href="/assets/skin/100-90-5-monochrome.png" as="image" type="image/png" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml" />

  <script type="application/ld+json">
    {% include site/metadata.json %}
  </script>

  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<div id="page">
	<header class="the-header">
		<div class="unit-head">
			<div class="unit-inner unit-head-inner">
				<nav class="nav-global">
					<ul>
						<li class="logo"><a href="/">{{ site.title }}</a></li>
						<li class="archive"><a href="{{ site.archive_path }}">archive</a></li>
						<li class="page"><a href="{{ site.pages_path }}">pages</a></li>
						<li class="category"><a href="{{ site.categories_path }}">categories</a></li>
						<li class="tag"><a href="{{ site.tags_path }}">tags</a></li>
					</ul>
				</nav>
			</div><!-- unit-inner -->
		</div><!-- unit-head -->
	</header>
	<div class="body" role="main">
		<div class="unit-body">
			<div class="unit-inner unit-body-inner">
				<div class="entry-content">
					{{ content }}
				</div>
			</div><!-- unit-inner -->
		</div><!-- unit-body -->
	</div><!-- body -->
	<footer class="the-footer">
		<div class="unit-foot">
			<div class="unit-inner unit-foot-inner">
				<div class="misc vcard">
					<h4>About</h4>
					<ul>
						<li class="contact"><address><span class="author fn n">{{ site.author.name }}</span></address></li>
						<li class="email"><address><span class="fn email">{{ site.author.email }}</span></address></li>
						<li class="github"><a href="http://github.com/{{ site.author.github }}/" rel="me">github.com/{{ site.author.github }}</a></li>
						<li class="twitter"><a href="http://twitter.com/{{ site.author.twitter }}/" rel="me">twitter.com/{{ site.author.twitter }}</a></li>
						<li class="rss"><a href="http://feeds.feedburner.com/{{ site.author.feedburner }}">Subscribe to RSS Feed</a></li>
					</ul>
				</div><!-- misc -->
				<div class="misc">
					<h4>My books</h4>
					<ul>
						<li class="chef">
              <a href="http://chef.leopard.in.ua/">Cooking Infrastructure by Chef (English)</a>
            </li>
            <li class="postgresql">
              <a href="http://postgresql.leopard.in.ua/">Working with PostgreSQL: tuning and scaling (Russian)</a>
            </li>
					</ul>
					<h4>My podcasts</h4>
					<ul>
						<li class="rwpod">
              <a href="http://www.rwpod.com/">RWpod (Russian)</a>
            </li>
					</ul>
				</div><!-- misc -->
				<p class="licence">
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons License" src="https://licensebuttons.net/l/by/4.0/88x31.png" width="88" height="31" />
          </a>
				</p>
			</div><!-- unit-foot-inner -->
		</div><!-- unit-foot -->
	</footer>
</div><!-- page -->
{% include site/analytics %}
</body>
</html>
